.App {
  -webkit-appearance: none !important;
  text-align: center;
}

.alive-true {
  background-color: rgb(138, 182, 64);
}

.alive-false {
  background-color: rgb(240, 167, 167);
}

button {
  width: 40px;
  height: 40px;
}