.App {
  text-align: center;
}

.alive-true {
  background-color: rgb(138, 182, 64);
}

.alive-false {
  background-color: rgb(240, 167, 167);
}

button.small {
  width: 72px;
  height: 72px;
}

button.medium {
  width: 36px;
  height: 36px;
}

button.large {
  width: 18px;
  height: 18px;
}

ul {
  padding: 0;
  list-style-type: none;
}

.cell {
  display: inline;
}

#board {
  width: 800px;
  height: 81%;
}